<h1>Plans#show</h1>
<p>Find me in app/views/plans/show.html.erb</p>
<img src= <%= @plan.image %> alt="">
<%= render "shared/add_friends_form" %>
<% @plan.participants.each do |participant| %>
  <%= participant.user.nickname %>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
