<img src="<%= @plan.image %>" alt="" class="plan-image">
<div class="container-fluid bg-white">
<div class="card">
  <div class="card-body">
<h1 class="display-6"><%= @plan.title %> </h1>
    <p> <%= @plan.description %> </p>
    <p> <%= render "shared/add_status_form" %> </p>
    <div class="d-flex align-items-center">
  <i class="bi bi-clock-fill"></i>
  <span class="ms-2"><%= @plan.start_datetime.strftime('%a %e %b %l:%M %p') %></span>
</div>
<div class="d-flex align-items-center">
  <i class="bi bi-geo-alt-fill"></i>
  <span class="ms-2"><%= @plan.location %></span>
</div>
<div class="d-flex align-items-center">
  <i class="bi bi-people-fill"></i>
  <div class="ms-2 participants">
    <% @plan.participants.each do |participant| %>
      <small class="d-inline-flex mb-1 px-2 py-1">
          <% if participant.user.avatar_picture.present? %>
            <%= cl_image_tag(participant.user.avatar_picture.key, alt: 'Yes', width: 32, height: 32, class: participant.status) %>
          <% else %>
            <%= image_tag "avatarhome1.png", alt: "Avatar", width: 32, height: 32, class: participant.status %>
          <% end %>
      </small>
    <% end %>
  </div>
</div>

<%= render "shared/add_friends_form" %>



<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
</div>
